.about{
    background-blend-mode: color;
    background-image: url("../images/header__bg.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.902);
    padding-bottom: 200px;
    padding-top: 370px;
    &__content{
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    &__content-button{
        border-width: 1px;
        border-color: rgb(255, 124, 12);
        color: #000;
        background-color: transparent;
        font-size: 16px;
        font-family: "Source Sans Pro Black";
    }
    &__content-text{
        font-size: 16px;
        font-family: "Source Sans Pro Regular";
        color: rgb(118, 118, 118);
        margin-bottom: 70px;
        max-width: 400px;
    }
    &__content-title{
        font-size: 24px;
        font-family: "Source Sans Pro Bold";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 40px;
    }
    &__header{
        padding-bottom: 100px;
    }
    &__header-inner{
        display: flex;
    }
    &__header-title{
        color: rgb(0, 0, 0);
    }
    &__image{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        &--img{
            max-width: 100%;
        }
    }
    &__text{
        padding-left: 100px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 1300px){
    .about{
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 420px;
            flex: 0 0 420px;
            max-width: 420px;
            width: 420px;
        }
        &__image{
            -ms-flex: 0 0 517px;
            flex: 0 0 517px;
            max-width: 517px;
            width: 517px;
        }
    }
    
}
@media (max-width: 768px){
    .about{
        &__header{
            padding-bottom: 10px;
        }
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__image{
            display: none;
        }
    }

}
@media (max-width: 320px){
    .about{
        &__header{
            padding-bottom: 10px;
        }
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
            &-title{
                font-size: 18px;
            }
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__image{
            display: none;
        }
    }
}