.catalog{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 30px 0px rgba(255, 124, 12, 0.22);
    padding-left: 39px;
    &__item{
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 33px;
        padding-bottom: 33px;
        &-image{
            &--img{
                max-width: 46px;
            }
            &--smal-img{
                max-width: 29px;
            }
        }
        &-text{
            font-family: 'Source Sans Pro Regular';
            font-size: 14px;
            color: #767676;
        }
        &-title{
            display: list-item;
            font-family: 'Source Sans Pro Black';
            font-size: 16px;
            color: #000;
        }
    }
    &__row-items{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}
