.button__cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7c0c;
    width: 200px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-left: 25px;
}
.cart{
    &__icon{
        position: relative;
        &-count{
            position: absolute;
            font-family: 'Source Sans Pro Bold';
            font-size: 10px;
            letter-spacing: normal;
            color: #fff;
            background-color: #ed1c24;
            border-radius: 7px;
            width: 20px;
            height: 14px;
            top: -3px;
            left: 13px;
        }
    }
    &__text{color: #fff;}
}
.contacts{
    
    &__inner{
        display: flex;
        align-items: center;
    }
    &__nomber{
        font-family: 'Source Sans Pro Regular';
        font-size: 24px;
        color: #fff;
    }
    &__phones{}
}
.empty__block{}
.header{
    min-height: 768px;
    background-image: url('../images/bg-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content{}
    &__top{
        &-inner{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-left: 90px;
            padding-right: 98px;
            border-bottom: 1px solid #868689;
            padding-top: 18px;
            padding-bottom: 19px;
        }
    }
}
.logo{
    
    &__img{
        max-width: 100%;
    }
    &__link{}
}
.menu{
    
    &__link{
        white-space: pre;
        font-family: 'Source Sans Pro Black';
        font-size: 14px;
        color: #fff;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;       
        &--active{}
        &--dropdown{
            position: relative;
            margin-right: 10px;
            &::after{
                content: '';
                position: absolute;
                width: 0; 
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 6px solid #ff7c0c;
                top: 5px;
                right: -12px;
            }
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0!important;
        &-item{
            margin-left: 50px;
        }
        &-item:first-child{
            margin-left: 0px;
        }
    }
}
.search{
    display: flex;
    align-items: center;
    &__icon{
        margin-right: 15px;
    }
    &__title{
        font-family: 'Source Sans Pro Regular';
        font-size: 14px;
        color: rgba(255, 255, 255, 0.502);
        letter-spacing: 0.2em;
    }
}
@media (max-width: 1666px){
    .menu{
        order: 4;
    }
    .empty__block{
        flex: 1 1 auto;
    }
    .search{
        margin-left: 32px;
    }
}