.button__cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7c0c;
    width: 200px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-left: 25px;
}
.cart{
    &__icon{
        position: relative;
        &-count{
            position: absolute;
            font-family: 'Source Sans Pro Bold';
            font-size: 10px;
            letter-spacing: normal;
            color: #fff;
            background-color: #ed1c24;
            border-radius: 7px;
            width: 20px;
            height: 14px;
            top: -3px;
            left: 13px;
            text-align: center;
        }
    }
    &__text{color: #fff;}
}
.contacts{
    &__inner{
        display: flex;
        align-items: center;
    }
    &__nomber{
        font-family: 'Source Sans Pro Regular';
        font-size: 24px;
        color: #fff;
    }
    &__phones{}
    &__cart-search{
        display: none;
        z-index: 4;
    }
}
.content-row{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    flex-wrap: wrap;
    align-items: center;
}
.header{
    min-height: 768px;
    height: 100%;
    background-image: url('../images/bg-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content{
        padding-left: 15px;
        padding-right: 15px;
        &-inner{
            max-width: 1170px;
            margin: 0 auto;
        }
    }
    &__content-back-to-up{}
    &__content-button{
        color: #fff;
        background-color: transparent;
        border: 2px solid #ff7c0c;
    }
    &__content-slider-controlls{
        &--dot{}
    }
    &__content-tag{
        border-radius: 3px;
        background-color: rgb(255, 124, 12);
        display: inline-block;
        font-family: 'Source Sans Pro Light';
        font-size: 14px;
        color: #fff;
        padding: 4px 16px;
        text-transform: uppercase;
        margin-top: 100px;
    }
    &__content-text{
        font-family: 'Source Sans Pro Black';
        font-size: 24px;
        color: #fff;
        margin-top: 21px;
        max-width: 440px;
    }
    &__content-title{
        color: #fff;
        margin-top: 32px;
    }
    &__top{
        &-inner{
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-left: 90px;
            padding-right: 98px;
            border-bottom: 1px solid #868689;
            padding-top: 18px;
            padding-bottom: 19px;
        }
    }
}
.back-to-up{}
.slider-empty__block{
    display: block;
    flex: 1 1 100%;
}
.slider-controlls{
    display: flex;
    align-items: center;
    &__arrow{
        width: 39px;
        height: 39px;
        background-color: #ffffff80;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-left{
            margin-right: 25px;
            &--img{}
        }
        &-right{
            &--img{}
        }
    }
    &-dots{
        display: flex;
        justify-content: space-between;
        min-width: 78px;
        &-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ffffff80;
            &--active{
                background-color: #fff;
            }
        }
    }
}
.logo{
    position: relative;
    z-index: 4;
    &__img{
        flex: 0 0 150px;
        & img{
            max-width: 100%;
        }
    }
    &__link{}
}
.menu{
    &__link{
        white-space: pre;
        font-family: 'Source Sans Pro Black';
        font-size: 14px;
        color: #fff;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;       
        &--active{}
        &--dropdown{
            position: relative;
            margin-right: 10px;
            &::after{
                content: '';
                position: absolute;
                width: 0; 
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 6px solid #ff7c0c;
                top: 5px;
                right: -12px;
            }
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0!important;
        &-item{
            margin-left: 50px;
        }
        &-item:first-child{
            margin-left: 0px;
        }
    }
}
.search{
    display: flex;
    align-items: center;
    &__icon{
        margin-right: 15px;
        width: 23px;
        height: 23px;
    }
    &__title{
        font-family: 'Source Sans Pro Regular';
        font-size: 14px;
        color: rgba(255, 255, 255, 0.502);
        letter-spacing: 0.2em;
    }
}
.empty__block{
    display: none;
}
@media (max-width: 1666px){
    .menu{
        order: 4;
    }
    .empty__block{
        display: block;
        flex: 1 1 auto;
    }
    .search{
        margin-left: 32px;
    }
}
@media (max-width: 768px){
    .header{
        min-height: calc(560px + 80);
        &__content{
            padding-left: 40px;
            padding-right: 40px;
        }
        &__top{
            &-inner{
                z-index: 4;
                background-color: #000;
                padding-left: 39px;
                padding-right: 30px;
            }
        }
        &__content-tag{
            margin-top: 49px;
        }
        &__content-text{
            margin-top: 10px;
        }
        &__content-title{
            margin-top: 5px;
        }
    }        
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
        order: -1;
      }
      .header__burger:before,
      .header__burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      .header__burger:before {
        top: 0;
      }
      .header__burger:after {
        bottom: 0;
      }
      .header__burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
      }
      .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      .header__burger.active span {
        transform: scale(0);
      }
    .menu {
        position: fixed;
        top: -1000%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        padding: 70px 10px 20px 10px;
        transition: all 0.6s ease 0s;
        &.active{
            top: 0;
            z-index: 3;
        }
        &__list{
            display: block;
            &-item{
                margin-left: 100px;
                margin-top: 20px;
                &:first-child{
                    margin-left: 100px;
                }
            }
        }
    }
    .search{
        display: none;
    }
    .contacts{
        &__phones{
            display: none;
        }
        &__cart-search{
            display: flex;
        }
    }
    .button__cart{
        display: none;
    }
    .empty__block{
        display: none;
    }
}
@media (max-width:320px){
    .header{
        &__top{
            &-inner{
                padding-left: 29px;
                padding-right: 29px;
            }
        }
        &__content-slider-controlls{
            order: 1;
        }
    }
    .logo{
        &__img{
            max-width: 130px;
        }
    }
}