@media (max-width: 1300px){
    .container{
        max-width: 1140px;
    }
    .edge{
        &__col{
            padding-left: 12px;
            padding-right: 12px;
            &--black{
                height: 365px;
                max-width: 365px;
                padding-left: calc(60px + (100 - 60) * ((100vw - 1300px) / (1920 - 1300)));
            }
            &--green{
                height: 365px;
                max-width: 365px;
                padding-left: calc(60px + (100 - 60) * ((100vw - 1300px) / (1920 - 1300)));
            }
            &--orange{
                height: 365px;
                max-width: 365px;
                padding-left: calc(60px + (100 - 60) * ((100vw - 1300px) / (1920 - 1300)));

            }
        }
    }
    .footer{
        &__about-company,&__information,&__logo{
            padding-left: 64px;
        }
        &__left-col{
            -ms-flex: 0 0 28%;
            flex: 0 0 28%;
            max-width: 28%;
        }
        &__right-col{
            -ms-flex: 0 0 72%;
            flex: 0 0 72%;
            max-width: 72%;
            &-row{
                padding-right: calc(25px + (100 - 25) * ((100vw - 1300px) / (1920 - 1300)));
                padding-left: calc(25px + (100 - 25) * ((100vw - 1300px) / (1920 - 1300)));
            }
        }
        &__copy-row{
            padding-right: calc(25px + (100 - 25) * ((100vw - 1300px) / (1920 - 1300)));
            padding-left: calc(25px + (100 - 25) * ((100vw - 1300px) / (1920 - 1300)));
        }
    }
    .about{
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 420px;
            flex: 0 0 420px;
            max-width: 420px;
            width: 420px;
        }
        &__image{
            -ms-flex: 0 0 517px;
            flex: 0 0 517px;
            max-width: 517px;
            width: 517px;
        }
    }
    .news{
        &__content{
            margin-bottom: 1px;
        }
        &__content-col{
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            &--left-col{
                -webkit-box-flex: 0;
                -ms-flex: 1 0 50%;
                flex: 1 0 50%;
                max-width: 50%;
                padding-right: 50px;
            }
            &--right-col{
                -webkit-box-flex: 0;
                -ms-flex: 1 0 50%;
                flex: 1 0 50%;
                max-width: 50%;
                padding-left: 50px;
            }
        }
        &__content-left-col-date{
            color: rgb(255, 124, 12);
            font-size: 14px;
            font-family: "Source Sans Pro Regular";
            padding-bottom: 30px;
        }
        &__content-left-col-image{
            padding-bottom: 58px;
            &--img{
                max-width: 100%;
            }
        }
        &__content-left-col-text{
            color: #767676;
            font-size: 24px;
            font-family: "Source Sans Pro Regular";
            padding-bottom: 30px;
        }
        &__content-left-col-title{
            color: #000;
            font-size: 40px;
            font-family: "Source Sans Pro Bold";
            padding-bottom: 30px;
        }
        &__content-right-col-content{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        &__content-right-col-date{
            font-family: "Source Sans Pro Regular";
            color: rgb(255, 124, 12);
            font-size: 14px; 
        }
        &__content-right-col-image{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
            max-width: 33.333%;
            &--img{
                max-width: 100%;
            }
        }
        &__content-right-col-row{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            margin-bottom: 45px;
        }
        &__content-right-col-text{
            font-family: "Source Sans Pro Regular";
            color: #767676;
            font-size: 16px; 
        }
        &__content-right-col-title{
            font-family: "Source Sans Pro Bold";
            color: #000;
            font-size: 30px; 
        }
        &__content-row{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        &__header{
            margin-bottom: 74px;
        }
        &__header-button{
            background-color: rgb(255, 124, 12);
            box-shadow: 0px 32px 117px 0px rgba(255, 124, 12, 0.22);
            border: none;          
        }
        &__header-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &__header-title{}
        &__left-col{
            &-inner{
                border: 1px solid #ff7c0c;
                padding-left: calc(5px + (100 - 5) * ((100vw - 320px) / (1920 - 320)));
                padding-right: calc(5px + (100 - 5) * ((100vw - 320px) / (1920 - 320)));
                padding-top: 0.7em;
                padding-bottom: 0.7em;
            }
        }
    }
}
@media (max-width: 992px){
    .news{
        &__content{
            &-col{
                &--right-col,&--left-col{
                    -ms-flex: none;
                    flex: none;
                    max-width: none;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
            &-row{
                
            }
            &-right-col-row{
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    .footer{
        &__left-col{
            -ms-flex: none;
            flex: none;
            max-width: none;
        }
        &__right-col{
            -ms-flex: none;
            flex: none;
            max-width: none;
        }
    }
}
@media (max-width: 768px){
    .container{
        max-width: 689px;
    }
    .title{
        font-size: 48px;
    }
    .footer{
        &__left-col{
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;
        }
        &__about-company,&__information,&__logo{
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            -webkit-box-flex: 0;
            margin-bottom: 0;
        }
        &__contacts{
            text-align: left;
        }
    
    }
    .edge{
        &__col{
            padding-left: 7px;
            padding-right: 7px;
            &--black{
                height: 223px;
                width: 223px;
                padding-left: calc(36px + (100 - 36) * ((100vw - 768px) / (1920 - 768)));
            }
            &--green{
                height: 223px;
                width: 223px;
                padding-left: calc(36px + (100 - 36) * ((100vw - 768px) / (1920 - 768)));
            }
            &--orange{
                height: 223px;
                width: 223px;
                padding-left: calc(36px + (100 - 36) * ((100vw - 768px) / (1920 - 768)));

            }
        }
        &__col-text{
            font-size: 24px;
        }
        &__col-year{
            font-size: 48px;
        }
        &__row{
            overflow-x: scroll;
            flex-wrap: nowrap;
        }
    }
    .about{
        &__header{
            padding-bottom: 10px;
        }
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__image{
            display: none;
        }
    }
    .news{
        &__content-right-col{
            &-title{
                font-size: 24px;
            }
            &-image,&-content{
                -ms-flex: none;
                flex: none;
                max-width: none;
            }
        }
    }
}
@media (max-width: 320px){
    .news{
        &__content-left-col{
            &-title{
                font-size: 24px;
                padding-bottom: 15px;
            }
            &-text{
                font-size: 16px;
            }
            &-image{
                font-size: 16px;
                padding-bottom: 15px;
            }
            &-date{
                font-size: 16px;
                padding-bottom: 10px;
            }
        }
    }
    .container{
        max-width: 282px;
    }
    .about{
        &__header{
            padding-bottom: 10px;
        }
        &__content{
            flex-wrap: nowrap;
            overflow: hidden;
            &-title{
                font-size: 18px;
            }
        }
        &__text{
            padding-left: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__image{
            display: none;
        }
    }
}