*{
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1530px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.back-to-top{
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.title{
    font-family: 'Source Sans Pro Black';
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.button{
    width: 204px;
    height: 56px;
    border-radius: 3px;
    font-family: "Source Sans Pro Black";
    font-size: 18px;
    color: #000;
    cursor: pointer;
}
@media (max-width: 1300px){
    .container{
        max-width: 1140px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 700px;
    }
    .title{
        font-size: 48px;
    }
}
@media (max-width: 320px){
    .container{
        max-width: 312px;
    }
}
@import "about";
@import "catalog";
@import "brand";
@import "edge";
@import "fonts";
@import "footer";
@import "header";
@import "news";